/*
  Global styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: hsl(256, 26%, 20%);
  --main: hsl(270, 9%, 17%);
  --gray: hsl(273, 4%, 51%);
  --secondary: hsl(0, 0%, 98%);
  --light-blue: hsl(216, 30%, 68%);
}
body {
  background-color: white;
  font-family: "Karla", sans-serif;
}
@media (max-width: 767px) {
  body {
    margin: 0 auto;
    max-width: 375px;
    text-align: center;
  }
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

/* 
  Utilities
*/

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta {
  width: 146px;
  height: 40px;
  display: block;
  font-size: 14px;
  border: 2px solid;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
@media (max-width: 767px) {
  .cta {
    margin: 0 auto;
  }
}

.cta-primary {
  color: var(--secondary);
  will-change: color, background-color;
}
.cta-primary:hover,
.cta-primary:focus-visible {
  color: var(--main);
  background-color: var(--secondary);
}

.cta-invert {
  font-weight: 700;
  color: var(--main);
  will-change: font-weight, color, border-color, background-color;
}
.cta-invert:hover,
.cta-invert:focus-visible {
  font-weight: 400;
  color: var(--secondary);
  background-color: var(--main);
}

/*
  Grid
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* 
  Page styles
*/

nav {
  height: 80px;
}
nav .links {
  text-transform: uppercase;
  color: var(--light-blue);
}

@media (min-width: 768px) {
  nav .links .container {
    gap: 28px;
    margin: 0;
    padding: 0;
    max-width: initial;
  }
  nav .menu-toggler {
    display: none;
  }
  nav .links a:not(.cta):hover,
  nav .links a:not(.cta):focus-visible {
    font-size: 14px;
    font-weight: 700;
    color: var(--main);
  }
}
@media (max-width: 767px) {
  nav .logo {
    width: 112px;
    height: 18px;
  }
  nav .menu-toggler {
    width: 32px;
    height: 32px;
  }
  nav .menu-toggler img {
    pointer-events: none;
  }
  nav .links {
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 999;
    display: none;
    font-size: 20px;
    padding-top: 50px;
    min-height: 400px;
    position: absolute;
    letter-spacing: 1px;
    will-change: display;
    color: var(--secondary);
    height: calc(100% - 80px);
    background: url(images/nav/bg-pattern-mobile-nav.svg) no-repeat bottom
      center / 100% 40% var(--main);
  }
  nav .links.show {
    display: block;
  }
  nav .links .container {
    gap: 51px;
    flex-direction: column;
  }
  nav .links a:not(.cta):hover,
  nav .links a:not(.cta):focus-visible {
    outline: none;
    text-decoration: underline;
  }
  nav .links li:last-child {
    width: 100%;
  }
  nav .links .cta,
  nav .links .cta {
    width: 100%;
    height: 56px;
    line-height: 56px;
    margin-top: -11px;
    font-size: inherit;
  }
}

/* 
  Main area
*/

.hero {
  position: relative;
  color: var(--secondary);
}
.hero h1 {
  font: 400 2.8em/1 "DM Serif Display";
}
.hero-txt p {
  line-height: 1.6;
  margin: 25px 0 30px;
}

@media (max-width: 767px) {
  .hero > .container {
    padding: 0;
    display: grid;
    grid-template-rows: 451px 500px;
  }
  .hero::before {
    right: 0;
    bottom: -180px;
    position: absolute;
    content: url("./images/hero/bg-pattern-intro-right-mobile.svg");
  }
  .hero-img {
    height: 100%;
    max-width: 100%;
  }
  .hero-txt {
    display: grid;
    padding: 0 28px;
    place-items: center;
    background: url("./images/hero/bg-pattern-intro-left-mobile.svg") no-repeat
      top left var(--bg);
  }
}

@media (min-width: 768px) {
  main {
    overflow: hidden;
    position: relative;
  }
  main::before {
    right: 0;
    top: -83px;
    z-index: 1;
    position: absolute;
    content: url(./images/hero/bg-pattern-intro-right-desktop.svg);
  }
  .hero {
    height: 600px;
    background-color: var(--bg);
  }
  .hero::before {
    left: 0;
    bottom: -333px;
    position: absolute;
    content: url(./images/hero/bg-pattern-intro-left-desktop.svg);
  }
  .hero > .container {
    gap: 10px;
    height: 100%;
    display: grid;
    overflow: hidden;
    position: relative;
    align-content: center;
    justify-content: space-between;
    grid-template-columns: 350px calc(100% - 350px);
  }
  .hero-img {
    z-index: 2;
    width: 100%;
    position: relative;
  }
  .hero h1 {
    font-size: 3em;
  }
  .hero-txt {
    grid-row: 1;
    display: grid;
    position: relative;
    align-content: center;
  }
  .hero-txt::before {
    top: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 150px;
    position: absolute;
    background-color: var(--secondary);
  }
}

@media (min-width: 992px) {
  .hero > .container {
    gap: 20px;
    top: 105px;
    position: relative;
    grid-template-columns: 450px calc(100% - 450px);
  }
  .hero h1 {
    font-size: 3.75em;
  }
  .hero-txt {
    display: block;
  }
  .hero-txt > div {
    margin-top: 90px;
  }
}

@media (min-width: 1200px) {
  main::before {
    z-index: 3;
  }
  .hero > .container {
    gap: 35px;
    grid-template-columns: 535px 540px;
  }
  .hero h1 {
    width: 480px;
    font-size: 4.3em;
  }
  .hero-txt {
    position: static;
  }
  .hero-txt::before {
    left: 15px;
  }
}

/* Different section  */

.different {
  padding: 368px 0 164px;
}
.different h2,
.different h3 {
  line-height: 1;
  font-weight: 400;
  color: var(--main);
  font-family: "DM Serif Display";
}
.different h2 {
  font-size: 4.5em;
  position: relative;
  margin-bottom: 100px;
}
.different h2::before {
  left: 0;
  top: -60px;
  content: "";
  height: 1px;
  width: 150px;
  position: absolute;
  background-color: var(--light-blue);
}
.different h3 {
  font-size: 1.5em;
  margin: 38px 0 23px;
}
.different p {
  padding: 0px 8px;
  color: var(--gray);
}
@media (min-width: 992px) {
  .different h3 {
    font-size: 2em;
  }
  .different p {
    padding-right: 40px;
  }
}
.different .icon {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--light-blue);
}
@media (max-width: 767px) {
  .different {
    padding: 190px 0 144px;
  }
  .different h2 {
    font-size: 2.5em;
    margin-bottom: 70px;
  }
  .different h2::before {
    left: 50%;
    top: -36px;
    margin: auto;
    transform: translateX(-50%);
  }
  .different .icon {
    margin: auto;
  }
  .different .boxes {
    gap: 60px;
    flex-direction: column;
  }
}

/* Work section  */

.work {
  height: 250px;
  margin-bottom: 150px;
  color: var(--secondary);
  background: url(images/work/bg-pattern-desktop.svg) no-repeat top right
    var(--bg);
}
.work > div {
  width: 100%;
  justify-content: space-around;
}
.work h2 {
  font: 400 3.5em/1 "DM Serif Display";
}
.work .cta {
  width: 160px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .work {
    margin: auto;
    height: 344px;
    max-width: 327px;
    margin-bottom: 140px;
    background-image: url(images/work/bg-pattern-mobile.svg);
  }
  .work > div {
    gap: 60px;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .work h2 {
    font-size: 2.5em;
  }
}

/* 
  Footer area
*/

footer {
  padding: 66px 0;
  color: var(--gray);
  background: url(images/footer/bg-pattern-footer-desktop.svg) no-repeat top
    left var(--secondary);
}
footer a,
footer strong {
  outline: none;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}
footer a {
  font-weight: 700;
  color: var(--bg);
}
footer strong {
  margin-bottom: 20px;
}
footer .social {
  gap: 20px;
}
footer .social a {
  color: var(--gray);
}
footer .social a:focus-visible,
footer .social a:hover {
  color: var(--main);
}
footer .row a:focus-visible,
footer .row a:hover {
  text-decoration: underline;
}

footer .row:first-child {
  gap: 32px;
}
footer .line {
  height: 1px;
  opacity: 0.3;
  margin: 30px 0 45px;
  background-color: var(--gray);
}
footer .row:last-child {
  gap: 46px;
  align-items: self-start;
}
footer .row:last-child > div {
  gap: 15px;
  display: grid;
}

@media (max-width: 767px) {
  footer {
    padding: 88px 0;
    background-image: url(images/footer/bg-pattern-footer-mobile.svg);
  }
  footer .row {
    flex-direction: column;
  }
  footer .line {
    margin: 40px 0;
  }
  footer .row:last-child {
    align-items: center;
  }
}
