/*
  Global styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: hsl(256, 26%, 20%);
  --main: hsl(270, 9%, 17%);
  --gray: hsl(273, 4%, 51%);
  --secondary: hsl(0, 0%, 98%);
  --light-blue: hsl(216, 30%, 68%);
}
body {
  background-color: white;
  font-family: "Karla", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

/* 
  Utilities
*/

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
  Grid
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* 
  Page styles
*/

nav {
  height: 80px;
}
nav .links {
  text-transform: uppercase;
  color: var(--light-blue);
}
nav .links li:last-child a {
  display: block;
  border: 2px solid;
  text-align: center;
  transition: background-color 0.3s;
}
@media (min-width: 768px) {
  nav .links .container {
    gap: 28px;
    margin: 0;
    padding: 0;
    max-width: initial;
    font-weight: 700;
    font-size: 14px;
  }
  nav .menu-toggler {
    display: none;
  }
  nav .links a:hover,
  nav .links a:focus-visible {
    color: var(--main);
  }
  nav .links li:last-child,
  nav .links li:last-child a {
    height: 40px;
    width: 146px;
    margin-left: 5px;
    line-height: 40px;
    color: var(--main);
    will-change: color, border-color, background-color;
  }
  nav .links li:last-child a:hover,
  nav .links li:last-child a:focus-visible {
    color: var(--secondary);
    background-color: var(--bg);
  }
}
@media (max-width: 767px) {
  nav .logo {
    width: 112px;
    height: 18px;
  }
  nav .menu-toggler {
    width: 32px;
    height: 32px;
  }
  nav .menu-toggler img {
    pointer-events: none;
  }
  nav .links {
    left: 0;
    top: 80px;
    width: 100%;
    display: none;
    font-size: 20px;
    padding-top: 50px;
    min-height: 400px;
    position: absolute;
    letter-spacing: 1px;
    will-change: display;
    color: var(--secondary);
    height: calc(100% - 80px);
    background: url(images/nav/bg-pattern-mobile-nav.svg) no-repeat bottom
      center / 100% 40% var(--main);
  }
  nav .links.show {
    display: block;
  }
  nav .links .container {
    gap: 51px;
    flex-direction: column;
  }
  nav .links a:hover,
  nav .links a:focus-visible {
    outline: none;
    text-decoration: underline;
  }
  nav .links li:last-child,
  nav .links li:last-child a {
    width: 100%;
    height: 56px;
    line-height: 56px;
    margin-top: -11px;
    will-change: color, background-color;
  }
  nav .links li:last-child a:hover,
  nav .links li:last-child a:focus-visible {
    color: var(--main);
    text-decoration: none;
    background-color: var(--secondary);
  }
}
